<app-header [title]="'Login form'"></app-header>
<div class="flex flex-col justify-center items-center h-screen">
    <app-forms [form]="loginForm" (formSubmitted)="onSubmit($event)" [buttonText]="'Sign in'" [title]="'Sign in to your account'" [isDisabled]="!loginForm.valid">
        <div class="mb-4" formFields>
            <app-input [form]="loginForm" [label]="'Username'" [placeholder]="'Enter username'"
                name="username"></app-input>
        </div>
        <div class="mb-4" formFields>
            <app-input [form]="loginForm" [label]="'Password'" [placeholder]="'Enter password'" name="password"
                type="password"></app-input>
        </div>
        <div class="flex justify-between mb-4">
            <div class="flex items-center mb-4">
                <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-300 border-gray-300 rounded mr-2"/>               
                <label class="text-sm font-medium text-gray-300">Remember me</label>
            </div>
            <div><a href="" class="text-blue-600 font-bold focus:text-underline">Forgot password?</a></div>
        </div>
        <div class="my-4">
            <span>Don't have an account yet?</span>
            <a [routerLink]="['/register']" class="text-blue-500 font-bold ml-1">Sign up</a>
        </div>
    </app-forms>
</div>
